language: php

php:
    - 5.5
    - 5.6
    - 7.0
    - 7.1
    - hhvm

matrix:
    include:
        - php: 5.5
          env: 'COMPOSER_FLAGS="--prefer-stable --prefer-lowest"'

install:
    - travis_retry composer self-update
    - travis_retry composer update ${COMPOSER_FLAGS} --no-interaction

script:
    - vendor/bin/phpunit
    - vendor/bin/phpcs --standard=PSR2 src tests
